:root{
    --buttonCOlor:rgb(0, 0, 0);
    --buttonBgColor:rgb(22, 153, 28);

}
.container{
    text-align: center;
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-rows: auto auto;
}
.hide {
    display: none;
}
.grid{
    text-align: center;
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-columns:auto auto  auto;
}
.button{
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    font-size: large;
    color:var(--buttonCOlor);
    background-color:var(--buttonBgColor);
    border: 0;
    margin:5px;
    padding: 3px;
}