:root{
    --bg-color:white;
    --text-color:black;
    --bg-container:rgb(255, 255, 255);
    --bg-container-top:rgb(56, 17, 17);
    --bg-actual-box:white;
    --bg-box-container:yellow;
    --bg-actual-box-hover:rgb(222, 222, 228);
}